/* reset-css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

/* Common */

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;        
    clear: both;
}

.mt-8px {
    margin-top: 8px !important;
}

.mt-16px {
    margin-top: 16px !important;
}

.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33%;
}

.col-full {
    width: 100%;
}

/* main */
#main {
    height: 46.5px;
    background-color: #000;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav .subnav {
    list-style-type: none;
}

#nav {
    display: inline-block;  
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li a {
    text-decoration: none;
    line-height: 47.1px;
    padding: 0 24px;
    display: block;
}

#nav > li > a {
    color:#fff;
}

#nav li:hover a {
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a ,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
}

#nav .subnav a {
    color:#000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color:#fff;
    font-size: 20px;
    line-height: 46px;
    
}

#slider {
    background-color: #ccc;
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url("/assets/img/the_band.jpg");
    background-position: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-discreption{
    font-size: 15px;
    margin-top: 25px;
}

#content .content-section {
    width: 800px;
    padding: 64px 0px 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;   
    font-weight: 500;
     text-align: center;
     letter-spacing: 4px;
}

#content .section-subheading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-item {
     text-align: center;
    /* calc(100% / 3) */
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 35px ;
}

.ticket-list li {
    list-style: none;
    color: #757575; 
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    color: #fff;
    background-color: #f44336;
    padding: 3px 7px;
    margin-left: 16px;
}

.ticket-list .quantity {
    color: #fff;
    float: right;
    background-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* place */
.place-list {
    margin-top: 32px;
    /* margin-bottom: 48px; bo di cho 3 thang bang nhau */
}

.place-list .place-item {
    width: 33.33333%;
}

.place-list .place-img {
    display: block;
    width: 100%;
}

.place-list .place-img:hover {
    opacity: 0.6;
}

.place-list .place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-list .place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-list .place-time {
    margin-top: 15px;
    color: #757575;
}

.place-list .place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: none ;
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

header.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.modal-heading-icon {
    margin: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

label.model-label {
    font-size: 15px;
    display: block;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

button#buy-ticket {
    padding: 18px;
    background-color: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
}

button#buy-ticket:hover {
    cursor: pointer;
    opacity: 0.9;
    background: #ccc;
}

.modal-footer {
    text-align: right;
    padding: 16px;
}

.modal-footer a {
    color: #2196f3;
}

/* contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    float: right;
    padding: 10px 16px;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: #f1f1f1!important;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0,0,0,0.6);
    text-decoration: none; 
}

#footer .social-list a:hover {
    color: rgba(0,0,0,0.3);
    text-decoration: none; 
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}

#footer .copyright a {
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px); 
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}